body {
  background-color: #D9D7D7;
  background-image: url(Fruits\ et\ legumes.png);
  font-family: 'Dosis', sans-serif;
}

.title-container {
  text-align: center;
}

.title-container > h1 {
  font-size: 48px;
  font-weight: 900;
}

.title-container > h2 {
  font-weight: 5
  00;
}
.main-container {
  padding: 30px;
  background-color: white;
  border-radius: 45px;
}

.main-container > h2 {
  margin-bottom: 0px;
}
